.row {
    display: flex;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

ul#ratbullet li{
    list-style: none;
    padding: 10px 30px;
    background-image: url(img/remy.png);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 30px;
}
